<sfc-base-header [navigations]="navigations">
    <div class="notifications">
        <div class="notification" [sfc-tooltip]="MESSAGES_TOOLTIP_TEXT" [tooltipPosition]="Position.Bottom">
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </div>
        <div class="notification" [sfc-tooltip]="NOTIFICATIONS_TOOLTIP_TEXT" [tooltipPosition]="Position.Bottom">
            <fa-icon [icon]="faBell"></fa-icon>
        </div>
    </div>
    <div class="profile">
        <div class="create-profile" *ngIf="!identityService.hasProfile">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span i18n="@@core.component.header-authenticated.create-profile">Create profile</span>
        </div>

        <sfc-dropdown-menu [hideOnClickOutside]="true" [items]="actions" [position]="[Position.Bottom]"
            [defaultDots]="false">

            <sfc-avatar [data]="avatarModel" [radius]="40" [sfcComponentSize]="ComponentSize.Small" [stroke]="1"
                [progressModel]="avatarProgressModel">
                <sfc-avatar-badge *ngIf="!identityService.hasProfile" [position]="AvatarBadgePosition.RightTop"
                    [background]="'#fcbb42'">
                    <span [sfc-tooltip]="AVATAR_BADGE_CREATE_PROFILE_TOOLTIP_TEXT" [tooltipPosition]="Position.Bottom">
                        <fa-icon [icon]="faExclamation"></fa-icon>
                    </span>
                </sfc-avatar-badge>
            </sfc-avatar>

        </sfc-dropdown-menu>
    </div>
</sfc-base-header>