@use "node_modules/ngx-sfc-common/styles/index" as *;
@import "../../../../styles/mixins";

@mixin navigation-color($color) {
  color: $color;

  &:hover {
    color: $color-yellow-0;
  }
}

:host {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s $transition-timing-function-default;
    padding: 2em 5em;
    color: $color-default;

    nav {
      padding: 1em;

      ul {
        @include center-wrap;

        margin: 0;
        padding: 0;
        list-style: none;

        li {
          padding: 0.5em 1.875em;

          a {
            font-size: 0.875em;
            font-weight: bold;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transition: color $transition-duration-default $transition-timing-function-default;
            text-align: center;
            cursor: pointer;

            @include navigation-color($color-0);
          }
        }
      }
    }

    .logo {
      @include center-wrap;

      color: $color-0;

      a {
        @include center-wrap;

        img {
          max-width: 3em;
          padding: 0.5em 0.5em 0.5em 0;
        }

        span {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: bold;
          user-select: none;
        }
      }

      sfc-hamburger-menu {
        display: none;
      }
    }

    .right {
      @include center-wrap;

      .languages {
        @include center;
      }

      .identity {
        @include center-wrap;

        gap: 0.5em;

        sfc-button {
          padding: 0.2em 0;
        }
      }
    }
  }

  &.open {
    height: 100%;
    bottom: 0;
    background: $color-11;
    overflow-y: scroll;

    header {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 2em;
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: 100%;
      height: stretch;

      nav {
        ul {
          flex-direction: column;

          li {
            padding: 2em 1.875em;
          }
        }
      }

      .right {
        flex-direction: column-reverse;
        padding: 2em 0;

        .languages {
          sfc-delimeter {
            display: none;
          }
        }

        .identity {
          sfc-button {
            padding: 1em 0;
            width: 100%;
          }
        }
      }

      nav,
      .right {
        display: flex;
      }
    }
  }

  &:not(.open).stick {
    header {
      padding: 0.5em 5em;
      background-color: $color-1;

      .logo {
        color: $color-default;
      }

      nav {
        ul {
          li {
            a {
              @include navigation-color($color-default);
            }
          }
        }
      }
    }
  }

  @media (max-width: 1280px) {
    header {
      .logo {
        a {
          img {
            padding: 0.5em 0;
          }

          span {
            display: none;
          }
        }
      }

      .right {
        .languages {
          padding-right: 0.5em;

          sfc-delimeter {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    header {
      padding: 2em;
      justify-content: center;

      .right {
        .languages {
          padding-right: 0;
        }

        .identity {
          gap: 0.3em;
        }
      }
    }

    &:not(.open).stick {
      header {
        padding: 1em 2em;
      }
    }
  }

  @media (max-width: 425px) {
    header {
      padding: 1em !important;

      .logo {
        width: 100%;
        justify-content: center;

        a {
          span {
            display: block;
            padding: 0.5em 1em;
          }
        }

        sfc-hamburger-menu {
          display: block;
        }
      }

      nav,
      .right {
        display: none;
      }
    }
  }

  @media (max-width: 375px) {
    header {
      .logo {
        flex-direction: column;
      }
    }
  }
}
