@use "ngx-sfc-common/styles/index" as *;
@import "./variables";

@mixin button() {
  sfc-button {
    transition: transform 500ms;
    transform-origin: 50% 0;

    &:hover {
      transform: scale(1.05);
    }

    ::ng-deep {
      .button {
        background: $color-yellow-0;
        border-color: $color-yellow-0;

        &:hover {
          background: $color-yellow-1;
          border-color: $color-yellow-1;
        }
      }
    }
  }
}

@mixin navigation-color($color) {
  color: $color;

  &:hover {
    color: $color-hover-default;
  }
}

@mixin navigation-color-border($color) {
  color: $color;
  border-color: $color;

  &:hover {
    color: $color-hover-default;
    border-color: $color-hover-default;
  }
}

@mixin theme-background() {
  @include theme-value(background, $background-default, $background-dark);

  transition: background $transition-theme-backround-duration $transition-theme-backround-timing-function;
}

@mixin theme-color($value-common, $value-dark, $selector: "&") {
  @include theme-value(color, $value-common, $value-dark, $selector);

  transition: color $transition-duration-default $transition-timing-function-default;
}

@mixin error-message() {
  text-align: center;
  font-weight: bold;
  color: $color-failed;
  width: 100%;
  padding: 0;
  font-size: 0.8em;
}
