@use "node_modules/ngx-sfc-common/styles/index" as *;

:host {
  .container {
    .right {
      .content {
        form {
          .part {
            &.remember {
              display: flex;
              align-items: baseline;
              justify-content: space-between;
              flex-wrap: wrap;
              padding: 0;

              a.forgot {
                float: right;
                color: $color-yellow-1;
                font-size: 0.8em;
                user-select: none;

                &:hover {
                  color: $color-yellow-0;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 425px) {
    .container {
      .right {
        .content {
          form {
            .part {
              &.remember {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
