@use "node_modules/ngx-sfc-common/styles/index" as *;
@import "../../../../styles/mixins";

:host {
  .container {
    background: $color-11;

    .content {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      p {
        color: $color-0;
        margin: 0;
        padding: 1em;
        font-size: 0.8em;
        text-align: center;

        span {
          color: $color-yellow-0;
        }
      }
    }
  }
}
