@use "node_modules/ngx-sfc-common/styles/index" as *;
@import "../../../../styles/mixins";

:host {
  .container {
    background: $color-11;

    .content {
      p {
        color: $color-0;
        margin: 0;
        padding: 1em;
        font-size: 0.8em;
        text-align: center;

        &:first-child {
          position: absolute;
          left: 0;
          padding-left: 5em;
        }

        span {
          color: $color-yellow-0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .content {
        p:first-child {
          position: relative;
          padding-left: 0;
        }
      }
    }
  }
}
