body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;

  a {
    text-decoration: none;
  }
}

// html {
//     overflow-y: scroll;
// }

// body,
// html {
//     height: 100%;
//     color: #9193a8;
//     // background: rgba(40,42,45,.7);
// }

// a {
//     cursor: pointer;
//     color: #fedb17;
//     text-decoration: none;
//     outline: 0;
//     background-color: transparent;
// }

// a:active,
// a:focus,
// a:hover {
//     text-decoration: none;
//     outline: 0;
//     color: #fedb17;
// }

// figcaption,
// figure,
// main {
//     display: block;
// }

// article,
// aside,
// footer,
// header,
// nav,
// section {
//     display: block;
// }

// img {
//     max-width: 100%;
//     border-style: none;
// }

// button {
//     outline: none;
// }
